# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data files (tracked via DVC later)
data/raw/*.csv
data/processed/*.csv
data/processed/*.parquet
data/interim
# DVC
.dvc/tmp/
.dvc/cache/

# OS
.DS_Store
Thumbs.db

# Logs
*.log